body {
    font-family: 'Trispace', sans-serif;
}
body {
    background-color:#993ef5;
    text-align: center;
    color:#fff;
    padding-top:10em;
  }

  h1 {
    text-shadow: 0 0 10px rgba(219, 219, 219, 0.3),
                 0 0 20px rgba(219, 219, 219, 0.3),
                 0 0 30px rgba(255, 255, 255, 0.3),
                 0 0 40px rgba(255, 255, 255, 0.3),
                 0 0 50px rgba(255, 255, 255, 0.3),
                 0 0 60px rgba(255, 255, 255, 0.3);
}
  
  * { color:#fff; text-decoration: none;}